<h1>Properties</h1>

  <% @properties.each do |p| %>
    <h3><%= link_to p.address, property_path(p) %></h3>
      <ul>
        <li>Bedrooms: <%= p.bedrooms %></li>
        <% if p.garage %>
          <li>Has Garage</li>
        <% end %>
      </ul>
  <% end %>
